<!--The content below is only a placeholder and can be replaced.-->
<style>
  .s1{
    background-color: rgb(241, 241, 241);
    width: 300px;
    padding: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
  }
  .b{
    background-color: darkgreen;
    color: white;
  }

</style>


<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
</div>

<div style="text-align: center">    
  <h2 style="text-align: left">Create New Reminder</h2>
  <div class="s1">
    <input type="text" name="Add Reminder" value="Add Reminder"/>
    <button type="button" class="b">Add</button>
  </div>
</div>
<app-reminders></app-reminders>
<router-outlet></router-outlet>
